{% extends "base.html" %}

{% block content %}

{% if not khash %}
<input style="width: 90%; padding: 0px; margin: 0px;"
       type="checksum"
       onchange="window.location.assign('/checksum/' + this.value)" 
       placeholder="Short Checksum">
{% else %}
{% if in_this_lts %}<h4 class="k3download"><a class="k3download" href="/download/{{khash.short}}">Download this file</a></h4>{% endif %}
<h2>Metadata</h2>
<table class="pure-table pure-table-horizontal">
    <thead>
        <tr>
            <th>Field</th>
            <th>Value</th>
        </tr>
    </thead>
    <tbody>
      {{ macros.trkv("Short", khash.short) }}
      {{ macros.trkv("Sha256", khash.sha256) }}
      {{ macros.trkv("Sha1", khash.sha1) }}
      {{ macros.trkv("Md5", khash.md5) }}
      {% for k, v in keyvals -%}
      {{ macros.trkv(k,v) }}
      {%- endfor %}
      
    </tbody>
</table>

<h2>Files</h2>
<table class="pure-table pure-table-horizontal">
    <thead>
        <tr>
            <th>Mtime</th>
            <th>Hostname</th>
            <th>Filename</th>
        </tr>
    </thead>
    <tbody>
      {% for kfile in khash.files %}
      <tr>
	<td>{{ kfile.mtime_fmt() }}</td>
	<td>{{ kfile.hostname }}</td>
	<td>{{ kfile.filename }}</td>
      </tr>
      {% endfor %}
    </tbody>
</table>
{% endif %}

{% endblock %}
