{% extends "base.html" %}

{% block content %}

<h2>Stats</h2>
<i>Generated on {{stat_timestamp}}</i>

<table class="pure-table pure-table-horizontal">
  <thead>
    <tr>
      <th>Field</th>
      <th>Value</th>
      <th>No Files</th>
      <th>Total size</th>
    </tr>
  </thead>
  <tbody>
    {% for _, row in stats.iterrows() %}
    {% if row['level'] == 'file' %}
    {% if row['field'] == '<all>' %}
      <tr style='border-top: 4px solid black;'>
	<td><b>&lt;All Files&gt;</b></td><td></td>
	{% else %}
	<tr>
          <td>{{ row['field'] }} </td>
	<td>{{ row['value'] }} </td>
      {% endif %}
      <td>{{ row['count'] }} </td>
      <td>{{ row['sum']|filesizeformat }} </td>
    </tr>
    {% endif %}
    {% endfor %}      
  </tbody>
</table>

{% endblock %}
