<!-- macros are included -->
{% macro trkv(key, val) -%}
  <tr><td>
      {%- if key == "size" -%}
	File Size</td><td>{{ val|filesizeformat }} ({{ val }})</td></tr>
      {%- elif key == "project" -%}
	Project</td><td><a href="/project/{{val}}">{{val}}</a>
      {% elif key in "Sha1 Md5 Short Sha256".split() -%}
	{{ key|capitalize }}</td><td><span class="checksum">{{ val }}<span>
      {%- else -%}
	{{ key|capitalize }}</td><td>{{ val }}</td></tr>
      {%- endif -%}
  </td></tr>
{%- endmacro %}
