{% extends "base.html" %}

{% block content %}

{% if project_list is defined %}

<table class="pure-table pure-table-horizontal"> <thead>
    <tr> <th>Project</th> <th>No Files</th>
      <th>&nbsp;</th>
      <th>Project</th> <th>No Files</th>
  </tr> </thead> <tbody>
    <tr><td>
	{% for p in project_list %}
	<a href="/project/{{ p[0] }}">{{ p[0] }}</a></td><td> {{ p[1] }}
	{% if loop.index % 2 == 0 %}</td></tr><tr><td>
	{% else %}</td><td>&nbsp;</td><td>
	{% endif %}
	{% endfor %}
</tr> </tbody> </table>

{% else %}


<table class="pure-table pure-table-horizontal"> <thead>
    <tr> <th>Id</th>
      <th>Filename</th>
      <th>Size</th>
      <th>MTime</th>
  </tr> </thead>
  <tbody>
    {% for khash, kkeyval, kkbn, kfile in khash_list %}
    <tr>
      <td><a href="/checksum/{{ khash.short }}"><span class="checksum">{{ khash.short }}</span></a></td>
      <td>{{ kkbn.val }}</td>
      <td>{{ kfile.size|filesizeformat }}</td>
      <td>{{ kfile.mtime_fmt() }}</td>
    </tr> 
    {% endfor %}
</tbody> </table>
{% if offset > 0 -%}
  {% if offset > 20 %}<a href="/project/{{project}}/{{ offset - 20 }}">(prev) .. </a>
  {% else %}<a href="/project/{{project}}">(prev) .. </a>{% endif %}
{%- endif -%}
<a href="/project/{{project}}/{{offset + 20 }}">(next)</a>



{% endif %}

{% endblock %}
